::ng-deep .modal-backdrop {
  z-index: 1020 !important;
}

.search-div {
  width: 60%;
  align-items: center;
  margin-bottom: 10px;
}

.add-dialog {
  float: right;
}
.modal-body label {
  display: inline-block;
}
