table img {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.active {
  text-decoration: underline;
}

.navbar {
  background-color: transparent;
}
::ng-deep .modal-backdrop {
  z-index: 1020 !important;
}

.dcard {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.util {
  width: 90%;
  border: 1px solid grey;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  margin-right: 1rem;
}
.default-btn {
  display: inline-block;
  margin: 0;
  height: 100%;
  background-color: transparent;
}
#payment-element {
  border: 1px solid grey !important;
  margin-top: 3rem;
}

.vh {
  visibility: hidden;
}
