.nav-item img {
  margin-right: 15px;
}
.nav-link .nav-link {
  height: 20px;
}
.bg-aliceblue {
  background-color: white;
}
.navbar {
  box-shadow: 0 1px 15px #0000000a, 0 1px 6px #0000000a;
}
.child img {
  width: 0.8rem;
}
