<!-- <button class="mt-8" (click)="polyToggle()">Zone Mode on</button>

<hr>
<div class="message mt-5" id="message"></div>

 -->

<div class="header bg-gradient-skyblue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div id="formdiv">



          <form #CityForm="ngForm">

            <div class="form-field">

              <label for="country">Select Country:</label>
              <select id="country"  #country>
                <option *ngFor="let country of countriesArray" [value]="country">{{ country}}</option>
              </select>
            </div>
            <div class="form-field">
              <label for="city">City:</label>
              <input type="text" name="city" id="city" #city ngModel placeholder="Enter City Name" required >
              <div class="errors text-center" *ngIf="CityForm.controls['city']?.invalid && CityForm.controls['city'].touched">*Please enter a value</div>
            </div>
            <div class="form-field mapp"  >

              <div *ngIf="!polyValid  ">*please draw polygon</div>

            <div id="map" >

            </div>
            </div>

            <div class="form-field">

              <button *ngIf="activateAddZone" name="myButton" id="myButton" class="btn btn-success mt-5" [disabled]="!CityForm.valid " (click)="addZone(country.value,city.value);CityForm.reset()">ADD Zone</button>
              <!-- <button #myButton (click)="click1000()">10000</button> -->
              <div  *ngIf="activateUpdate">
                <button  class="btn btn-primary" (click)="onSave();CityForm.reset();">Save</button>
                <button   class="btn btn-danger" (click)="onCancel();CityForm.reset()">Cancel</button>

              </div>
            </div>

          </form>



        </div>
      </div>
    </div>
  </div>
</div>











<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col">Country</th>
      <th scope="col">city</th>

      <th scope="col">Buttons</th>
    </tr>
  </thead>
  <tbody>



    <tr *ngFor="let user of allzones">

      <td class="nametd"><input type="text" value="{{user.country}}" disabled>
      <td class="nametd"><input type="text" value="{{user.city.name}}" disabled>

      <td id="b'+ user._id + '">
        <button class="update-button btn btn-outline-primary" (click)="updateCity(user._id);scrollToTop()"> UPDATE</button>
        <button class="delete-button btn btn-outline-danger" (click)="onDelete(user._id)"> DELETE</button>
      </td>

    </tr>
  </tbody>
</table>
<!-- <input type="text" id="location-input"> -->

<!--
<form onsubmit="getmsg()">
  <input type="text" id="search">
  <input type="submit">
</form> -->
