#map{
  // display: inline-block;
  width:30vw;
  height:30vh;
}

img {
  padding: 10px;
  width: 100px;
  height: 100px;
}


::ng-deep .modal-backdrop {
  z-index: 1020 !important;
}


.map-div{
margin: auto;
}
.modal-div{
  width: 35vw;
}
.add-dialog{
  float: right;
}

