<div class="header bg-gradient-skyblue pb-3 pt-7 pb-7">
  <div class="container-fluid">
    <div class="header">
      <h1>Ride History</h1>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 row mr-0 ml-0">
          <!-- <div class="col-sm-12"> -->

          <!-- <div class="form-control-search d-flex  align-items-center"> -->
          <select
            class="form-control col-sm-1"
            name="search_type"
            id="search_type"
          >
            <option value="_id" selected>Ride Id</option>
            <option value="user.name">User</option>
            <option value="user.mobile">Phone Number</option>
            <option value="pickup">Pickup</option>
            <option value="dropoff">Dropoff</option>
            <option value="vehicle.name">Vehicle</option>
          </select>
          <select
            class="form-control col-sm-1"
            name="payment_mode"
            id="payment_mode"
          >
            <option value="" selected>All</option>
            <option value="0">Cash</option>
            <option value="1">Card</option>
          </select>
          <select class="form-control col-sm-1" name="status" id="status">
            <option value="" selected>All</option>
            <option value="6">Completed</option>
            <option value="7">Cancelled</option>
          </select>
          <input
            type="search"
            name="search_value"
            id="search_value"
            class="form-control col-sm-2"
            placeholder="Search"
            #search
          />
          <!-- <label for="from">From</label>1 -->
          <input
            class="col-sm-1 form-control"
            type="date"
            name="from_date"
            id="from_date"
          />
          <!-- <label for="to">TO</label> -->
          <input
            class="col-sm-1 form-control"
            type="date"
            name="to_date"
            id="to_date"
          />
          <!-- </div> -->
          <div class="btn-group col-sm-1">
            <button class="btn" type="submit" (click)="onSearch(search.value)">
              <i class="search-icon fas fa-search"></i>
            </button>
            <button
              class="btn refresh"
              (click)="getRides(1); search.value = ''"
            >
              ⟳
            </button>
          </div>
          <div class="col-sm-4 text-right">
            <button
              class="btn btn-outline-primary"
              type="button"
              (click)="onDownload()"
            >
              Download
            </button>
          </div>
          <!-- </div> -->
        </div>
        <div class="table-responsive text-center">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th>Request ID</th>
                <th>User Name</th>
                <th>Create Time</th>
                <th>Pickup Address</th>
                <th>Drop Off Address</th>
                <th>Service Type</th>
                <!-- <th>Driver</th> -->
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let ride of allConfirmedrides"
                (click)="openModel(content, ride)"
              >
                <td class="text-wrap">{{ ride._id }}</td>
                <td class="text-wrap">{{ ride.user.name }}</td>
                <td class="text-wrap">{{ ride.createdAt | utcDate }}</td>
                <td class="text-wrap">{{ ride.pickup }}</td>
                <td class="text-wrap">{{ ride.dropoff }}</td>
                <td class="text-wrap">{{ ride.vehicle.name }}</td>
                <!-- <td class="text-wrap">Driver</td> -->
                <td class="text-wrap">{{ ride.status | rideStatus }}</td>
              </tr>
              <tr *ngIf="allConfirmedrides?.length <= 0">
                <td class="Empty p-5" colspan="8">
                  <strong> Rides Not Found</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="allConfirmedrides?.length >0">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li
                class="page-item disabled"
                *ngIf="currentPage !== 1"
                (click)="onPrevious()"
              >
                <a class="page-link">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li
                class="page-item"
                [ngClass]="{ active: currentPage == i + 1 }"
                [hidden]="currentPage < i || currentPage - 1 > i + 1"
                *ngFor="let item of NoOfPages; let i = index"
              >
                <a class="page-link" (click)="onPage(i + 1)">{{ i + 1 }}</a>
              </li>

              <li
                class="page-item"
                [ngClass]="{ vh: currentPage == NoOfPages?.length }"
                (click)="onNext()"
              >
                <a class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="bg-aliceblue modal-div">
      <div class="modal-header">
        <h3>Ride Details</h3>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body row ml-0 mr-0 text-left align-middle">
        <div class="col-sm-3">Ride ID</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo._id }}</div>
        <div class="col-sm-3">User</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.user.name }}</div>
        <div class="col-sm-3">Pickup Location</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.pickup }}</div>
        <div class="col-sm-3">DropOff Location</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.dropoff}}</div>
        <div class="col-sm-3">Vehicle</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.vehicle.name }}</div>
        <div class="col-sm-3">Payment Type</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.payment_type | paymentType }}</div>

        <div *ngIf="rideInfo.scheduledate" class="col-sm-3">Schedule Time</div>
        <div *ngIf="rideInfo.scheduledate" class="col-sm-1">:</div>
        <div *ngIf="rideInfo.scheduledate" class="col-sm-8">
          {{ rideInfo.scheduledate }}{{ scheduletime }}
        </div>
        <div class="col-sm-3" *ngIf="rideInfo.stop.length > 0">Stops</div>
        <div class="col-sm-1" *ngIf="rideInfo.stop.length > 0">:</div>
        <div class="col-sm-8" *ngIf="rideInfo.stop.length > 0">
          <div
            class="mt-3 mb-3"
            *ngFor="let stp of rideInfo.stop; let i = index"
          >
            {{ i + 1 }}. {{ stp }}
          </div>
        </div>
        <!-- <div>{{rideInfo.stop}}</div> -->
        <div class="col-sm-3">Booking Time</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.createdAt | utcDate }}</div>
        <div class="col-sm-3">Total Distance</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.distance }} km</div>
        <div class="col-sm-3">Total Time</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.time }} min</div>
        <div class="col-sm-3">Ride Fees</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">Rs. {{ rideInfo.ride_fees }}</div>
        <div class="col-sm-3">Status</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.status | rideStatus }}</div>
        <div class="col-sm-3">Feedback</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-8">{{ rideInfo.feedback }}</div>
        <div id="map"></div>
      </div>
    </div>
  </ng-template>

  <!-- Dark table -->
</div>
