<div class="header bg-gradient-skyblue pb-3 pt-7 pb-7">
  <div class="container-fluid">
    <div class="header">
      <h1>Ride History</h1>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 row mr-0 ml-0">
          <!-- <div class="col-sm-12"> -->

          <!-- <div class="form-control-search d-flex  align-items-center"> -->
            <select class="form-control col-sm-1" name="search_type" id="search_type">
              <option value="_id" selected>Ride Id</option>
              <option value="user.name">User</option>
              <option value="pickup">Pickup</option>
              <option value="dropoff">Dropoff</option>
              <option value="vehicle.name">Vehicle</option>

            </select>
            <select class="form-control col-sm-1" name="payment_mode" id="payment_mode">
              <option value="" selected>All</option>
              <option value=0>Cash</option>
              <option value=1>Card</option>
            </select>
            <select class="form-control col-sm-1" name="status" id="status">
              <option value=6 selected>Completed</option>
              <option value=7>Cancelled</option>

            </select>
            <input type="search" name="search_value" id="search_value" class="form-control col-sm-2" placeholder="Search"
              #search>
            <!-- <label for="from">From</label>1 -->
            <input class="col-sm-1 form-control" type="date" name="from_date" id="from_date">
            <!-- <label for="to">TO</label> -->
            <input class="col-sm-1 form-control" type="date" name="to_date" id="to_date">
            <!-- </div> -->
            <div class="btn-group col-sm-1">
              <button class="btn" type="submit" (click)="onSearch(search.value)">
                <i class="search-icon fas fa-search"></i>
              </button>
              <button class="btn refresh" (click)="getRides(1);search.value = ''">⟳</button>
            </div>
          <!-- </div> -->




        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th>Request ID</th>
                <th>User Name</th>
                <th>Pickup Time</th>
                <th>Pickup Address</th>
                <th>Drop Off Address</th>
                <th>Service Type</th>
                <th>Driver</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ride of allConfirmedrides">


                <td>{{ride._id}}</td>
                <td>{{ride.name}}</td>
                <td>2023-04-21 09:00:00</td>
                <td>{{ride.pickup}}</td>
                <td>{{ride.dropoff}}</td>
                <td>{{ride.vehicle.name}}</td>
                <td>Driver</td>
                <td>{{ride.status | rideStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">

              <li class="page-item disabled" *ngIf="currentPage!==1" (click)="onPrevious()">
                <a class="page-link">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" [ngClass]="{'active' : currentPage == i+1}"
                [hidden]="currentPage <i || currentPage-1 > i+1" *ngFor="let item of NoOfPages; let i = index"> <a
                  class="page-link" (click)="onPage(i+1)">{{i+1}}</a>
              </li>

              <li class="page-item" [ngClass]="{'vh':currentPage==NoOfPages?.length }" (click)="onNext()">
                <a class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->

</div>
