
::ng-deep .modal-backdrop {
  z-index: 1020 !important;
}
// .modal-div {
//   width: 33vw;
// }

.modal-body input {
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  height: 45px;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh; /* Optional: Set a height for the container */
}
#randomButton {
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s, left 0.3s;
}

#randomButton:hover {
  cursor: pointer;
}

.modal-div{
  position: relative

}
textarea{
  width: 100%;
}
#lbl{
  float: left;
}
