<div class="header bg-gradient-skyblue p-3 pt-7 pb-7 ">
  <div class="container-fluid">
    <div class="header">
      <h1>Create Ride</h1>



      <div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid  mt--5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <div id="maindiv">
          <div id="form-div">
            <!-- Card stats -->
            <div class="row">
              <div id="formdiv">


                <form #group1Form="ngForm">



                  <div *ngIf="group1">

                    <div class="form-field">
                      <label for="mobile">Number : </label>
                      <div>

                        <select name="CallingCode" id="CallingCode"
                          style="width:30%;border-top-right-radius: 0px;border-bottom-right-radius: 0px;" #cc>
                          <option *ngFor="let item of allCallingCode" value={{item}}>{{item}}</option>

                        </select>


                        <input id="mobile" name="mobile" type="number" placeholder="Phone number"
                          (input)="onInput($event.target.value)"
                          onkeypress="if (this.value.length > this.maxLength  )return false ;" maxlength='10' ngModel
                          required #num style="width: 70%;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                      </div>
                      <div class="error" *ngIf="ccVal">
                        *Please select countrycode</div>
                      <div class="error"
                        *ngIf="group1Form.controls['mobile']?.invalid && group1Form.controls['mobile'].touched">
                        *Please enter a value</div>
                      <!-- <span class="error" *ngIf="errorMsg2">*{{errorMsg2}}</span> -->


                      <div class="form-field">

                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required ngModel #name placeholder="name" disabled>

                      </div>
                      <div class="form-field">

                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" required ngModel #email placeholder="email" disabled>

                      </div>
                    </div>
                    <button id="nextbtn" class="btn btn-secondary mt-5" (click)="onNext()">Next</button>
                  </div>
                </form>

                <!-- group 2 -->
                <form #CreateRideForm="ngForm">
                  <div *ngIf="group2 == true">

                    <div class="form-field ">


                      <label for="pickup">Pickup Location:</label>

                      <input type="text" style="width: 90%;" id="pickup" name="pickup" ngModel required>&nbsp;<img
                        (click)="forCurrentlocation()" src="../../../assets/img/place.png" width="8%" alt="Icon">
                    </div>




                    <div class="form-field">
                      <form #stopform="ngForm">


                        <div #stopContainer></div>

                      </form>

                      <!-- Stop Locations -->

                    </div>
                    <div class="form-field">

                      <label for="dropoff">Drop-off Location:</label>
                      <input type="text" id="dropoff" name="dropoff" ngModel required>
                    </div>
                    <div class="error" *ngIf="pickerr">
                      {{pickerr}}</div>
                    <div *ngIf="group21">





                      <div class="form-field mt-3" *ngIf="vT.length >= 1">

                        <label for="vehicle">Select Vehicle Type : </label>&nbsp;&nbsp;&nbsp;
                        <select id="vehicle" name="vehicle" id="vehicle" (change)="onSelect(vehicle.value)" #vehicle>
                          <option *ngFor="let vehicle of vT" [value]="vehicle.vehicle._id">{{ vehicle.vehicle.name}}
                          </option>
                        </select>

                      </div>

                      <div class="form-field mt-3">
                        <label>
                          Select an bookingtype:
                        </label>
                        <select (change)="onBooktype($event.target.value)">
                          <option value="booknow">Book Now</option>
                          <option value="scheduleride">Schedule Ride</option>
                        </select>
                      </div>



                      <div *ngIf="selectedbooking ==='scheduleride'">





                        <div class="form-field">

                          <label for="date">Date:</label>
                          <input type="date" id="date" name="date" ngModel>
                        </div>
                        <div class="form-field">

                          <label for="stime">Time:</label>
                          <input type="time" id="stime" name="stime" ngModel>
                        </div>
                      </div>
                      <div class="form-field">
                      </div>
                      <button class="btn btn-secondary mt-3" (click)="showRoute()">Confirm Deatails</button>
                      <button *ngIf="No_stops<=Max_stops-1" type="button" class="btn btn-secondary mt-3" (click)="addStop(stopform)"
                        [disabled]="!stopform.valid">add stop</button>

                      <div id="estimate">
                        <p class="mt-3" *ngIf="TotalTime">Estimated Time : {{TotalTime}} min</p>
                        <p class="mt-3" *ngIf="TotalDistance">Estimated Distance : {{TotalDistance}} km</p>
                        <p class="mt-3" *ngIf="ServiceFees">Estimated Fees : {{ServiceFees}} Rs.</p>
                      </div>


                      <input type="radio" checked name="paymentOption" (click)="onPayment($event.target.value)"
                        value=0>
                      <label for="cash">Cash</label>

                      <input type="radio" name="paymentOption" (click)="onPayment($event.target.value)" value= 1 >
                      <label for="card">Card</label>


                      <div *ngIf="selectedOption == 1">

                        <button class="btn btn-link" (click)="addCard();openAssignDialog()">Add Card</button>
                        <div id="cards">
                          <div *ngFor="let card of allCards">
                            <input type="radio" name="card" [(ngModel)]="selectedCard" [value]="card.id">
                            <label>
                              xxxx-xxxx-xxxx-{{ card.card.last4 }}
                            </label>

                          </div>
                        </div>
                      </div>
                      <div class=" mt-3">

                        <button class="btn btn-dark " type="button" name="myButton" id="myButton"
                          (click)="BookRide(CreateRideForm.value);CreateRideForm.reset()">Book Ride</button>
                          <button type="button" class="btn btn-danger" (click)="onCancel()">cancel</button>
                        </div>
                    </div>
                  </div>
                </form>
                <!-- </form> -->
              </div>
              <div class="modal" id="modal">
                <div class="modal-dialog custom-modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Assign Driver</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="closeAssignDialog()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form>

                        <div id="card-element" class="mt-3"></div>
                        <button class="btn btn-success mt-5" type="submit"
                          (click)="saveCard();closeAssignDialog()">Submit
                          Payment</button>
                      </form>


                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="mapdiv">
            <div id="map">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
