<div class="header bg-gradient-skyblue p-3 pt-7 pb-7">
  <div class="container-fluid">
    <div class="header">
      <h1>Country</h1>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="bg-aliceblue modal-div">
    <div class="modal-header">
      <h4>Service Type</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        <label for="country-select">Select Country</label>
        <select id="country-select" (change)="onSelect($event.target.value)">
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let country of countriesArray" [value]="country">
            {{ country }}
          </option>
        </select>
        <p *ngIf="nullData">Does not add due to insufficient data</p>
        <hr />
        <form
          class="mt-3 c-form"
          *ngIf="selectedCountry"
          [formGroup]="addCountryForm"
          (ngSubmit)="onAddCountry()"
          name="newForm"
        >
          <label for="name">Name : </label>
          <input
            id="name"
            name="name"
            type="text"
            readonly
            placeholder="name"
            formControlName="name"
          />

          <label for="currency">Currency : </label>
          <input
            id="currency"
            name="currency"
            readonly
            type="text"
            placeholder="Currency"
            formControlName="currency"
          />

          <label for="flag">Flag : </label>
          <input
            readonly
            id="flag"
            name="flag"
            type="text"
            placeholder="Flag"
            formControlName="flag"
          />

          <label for="callingcode">Calling Code : </label>
          <input
            id="callingcode"
            name="callingcode"
            readonly
            type="text"
            placeholder="name"
            formControlName="callingcode"
          />
          <label for="timezone">Time Zones : </label>
          <input
            id="timezone"
            name="timezone"
            type="text"
            readonly
            placeholder="timeZone"
            formControlName="timezone"
          />
          <label for="countrycode">Country code : </label>
          <input
            id="countrycode"
            name="countrycode"
            type="text"
            readonly
            placeholder="Countrycode"
            formControlName="countrycode"
          />
          <button
            type="submit"
            class="btn btn-primary"
            (click)="modal.close('Close click')"
          >
            ADD Country
          </button>
        </form>
      </div>
    </div>
    <!--
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="updateService(vehicle.value)">Save Updates</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Delete Service</button>
    </div> -->
  </div>
</ng-template>

<div class="container-fluid mt--5">
  <div class="card-header border-0 row mr-0 ml-0">
    <div class="col-sm-4">
      <div class="form-control-search d-flex align-items-center">
        <input
          type="search"
          class="form-control"
          placeholder="Search Country"
          (input)="onSearch($event.target.value)"
        />
        <div>
          <button class="btn refresh" (click)="getAddedCountry()">⟳</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-right">
      <button
        class="btn btn-outline-primary add-dialog"
        (click)="openModel(content)"
      >
        + Add
      </button>
    </div>
  </div>

  <div class="countries pt-5">
    <div class="country col-sm-4" *ngFor="let country of addedCountry">

      <div class="mt-2 ml-5" style="font-size: 10rem">{{ country.flag }}</div>
      <div class="mt-2 ml-5">Name : {{ country.name }}</div>
      <div class="mt-2 ml-5">Currency : {{ country.currency }}</div>
      <div class="mt-2 ml-5">Calling Code : {{ country.callingcode }}</div>
      <div class="mt-2 ml-5">Time Zone : {{ country.timezone }}</div>
      <!-- <button class="btn btn-danger mt-3 ml-5" (click)="onDelete(country._id)">Delete</button> -->
    </div>
  </div>
</div>
<h3 class="text-center" *ngIf="addedCountry.length <= 0">No Data Found</h3>
