.navbar{
  position: static;
  display: inline-block;
  height:100px;
// box-shadow: 0 1px 15px #0000000a, 0 1px 6px #0000000a;
background-color: transparent;
}



.avatar{
  height: 60px;
  width: 60px;
}
